.blog{
  background-color: white;
}

.blog__item__text {
    margin-top: 20px;
    color: #21242e;
    font-size: 20px;
    line-height: 24px;
  }

  .blog__item__para{
    color: gray;
  }

 .readmore{
     text-decoration: none;
     color: #1E978C;
     font-weight: bold;
 }

 .readmore:hover{
     text-decoration: underline;
     color: #1E978C;
 }

 .blog__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.blog__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  box-sizing: border-box;
}

.blog-button-all{
 
 
  cursor: pointer;
 
  background-color: transparent;
  color: #1E978C;
  
  border: 1px solid black;
  transition: all 0.3s ease-out;
  padding: 2px 15px;
  font-size: 15px;
  outline: 1px solid #1E978C;

}
.blog-button-all.active{
  background-color: #1E978C;
  color: #fff;
}
.blog-button-all:hover{
background-color:#1E978C ;
color: #fff;
}


.blog-detail-para{
  margin-left: 10%;
  margin-right: 20%;
  color: black;
  text-indent: 0%;
  font-size: 20px;
  font-weight: 500;
}

.blog-detail-img{  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  
}

.blogtext{
  text-indent: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 3%;
  margin-right: 5%;
  margin-bottom: 100px;
}


.techaccordian{

  width:600px;
  margin-top: 100px;
  margin-bottom: 100px;
}


.imgcentered {
  align-items: center;
  color: white;
  display: flex;
  height: 50%;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 50px;

}

.techheading{
  
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  font-family: open sans-serif Sans-serif;
  
}

.accordian{

margin:0% 5% 0% 10%;
}



span:hover{
 color: #1E978C;
 
}

  
 