.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */

  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar.active {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}
.transparent {
  background: transparent;
}
.black {
  background-color: black;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  max-width: 1500px;
}

.navbar-logo {
  /* margin-bottom: 1rem; */
  color: #f7f7f7;
  justify-self: start;
  margin-left: -5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.navbar-logo:hover {
  color: #fff;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 65vw;
  justify-content: end;
  margin-right: 2rem;
}
.Navbar-Login {
  justify-self: end;
  margin-right: -130px;
}
.nav-item {
  cursor: pointer;
  height: 60px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 5px;
  height: 100%;
}

.nav-links:hover {
  color: var(--mainColor);
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
  color: #fff;
  font-size: bold;
}
.nav-links.active {
  color: var(--mainColor);
  border-bottom: 4px solid #fff;
}
.nav-item > .active {
  color: var(--mainColor);
  border-bottom: 4px solid #fff;

}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}
.nav-item > .active {
    color: var(--secondColor);
  }
.menu-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar {
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
    height: 80px;
  }
  .nav-item > .active {
    border-bottom: none;
  }
  .NavbarItems {
    position: relative;
  }

  .Navbar-Login {
    margin: auto;
  }
  .navbar-logo {
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;

    align-items: center;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: var(--mainColor);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;

    left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    margin-right: 15px;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
@media screen and (max-width: 1024px) {
  /* .navbar-logo{
    margin-bottom: 1rem;
  } */
  .nav-item {
    height: 140px;
  }
  .nav-item > .active {
    border-bottom: none;
  }
}
@media screen and (max-width: 568px) {
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: -62px;
    cursor: pointer;
    text-decoration: none;
    font-size: 29px;
    display: flex;
    align-items: center;
  }
  .fa-typo3 {
    margin-left: 0.1rem;
    font-size: 1.5rem;
  }
  .nav-item > .active {
    border-bottom: none;
  }
  @media screen and (max-width: 660px) {
    .navbar-logo {
      color: #fff;
      justify-self: start;

      margin-left: 15px;
      cursor: pointer;
      text-decoration: none;
      font-size: 23px;
      align-items: center;
      display: flex;
    }
    .nav-links:hover {
      background-color: #fff;
      color: var(--mainColor);
      border-radius: 0;
    }
    .fa-bars {
      margin-right: -0.5rem;
    }
    .nav-item > .active {
      border-bottom: none;
    }
  }
}
